:root {
    --bg-advantages-color:#F5F4FA;
}
.before-item::before {
    content: " ";
    display: block;

    width: 270px;
    height: 120px;

    background-color: var(--bg-advantages-color);
    background-image: url(../img/iconantenna\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.before-item2::before {
    content: " ";
    display: block;

    width: 270px;
    height: 120px;

    background-color: var(--bg-advantages-color);
    background-image: url(../img/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.before-item3::before {
    content: " ";
    display: block;

    width: 270px;
    height: 120px;

    background-color: var(--bg-advantages-color);
    background-image: url(../img/diagram\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.before-item4::before {
    content: " ";
    display: block;

    width: 270px;
    height: 120px;

    background-color: var(--bg-advantages-color);
    background-image: url(../img/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}