@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:wght@400;500;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

button {
  border: none;
}

input {
  outline: none;
}

/* BODY */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

/* CONTEINER */
.container {
  width: 1200px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px dotted orangered;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.header-nav__link.current::after, .header-nav__link::before {
  position: absolute;
  content: " ";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(33, 150, 243);
}

.footer-Studio, .footer-Web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.ourteam-list, .ourteam-title, .developments-list, .developments--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Header */
.header__Studio {
  color: rgb(0, 0, 0);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  height: 80px;
}

.header__Studio {
  margin-right: 93px;
}

.header-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parent--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav > .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.header--Web {
  color: rgb(33, 150, 243);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.header-nav__link {
  color: rgb(0, 0, 0);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link {
  padding: 15px 0;
  color: rgb(117, 117, 117);
  font-weight: 500;
}

.header-contact__item:is(:hover, :focus) .contact-icon {
  fill: rgb(33, 150, 243);
}

.contact-icon {
  fill: rgb(117, 117, 117);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item {
  color: rgb(33, 150, 243);
}

.header-nav__item {
  font-weight: 500;
  line-height: 1.1428571429;
}

.header-nav__item:is(:hover, :focus) {
  -webkit-animation: shakeX;
          animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 2s;
          animation-duration: 2s; /* don't forget to set a duration! */
}

.header-nav__link:is(:hover, :focus) {
  cursor: pointer;
  color: rgb(33, 150, 243);
}

.header-contact__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:is(:hover, :focus) {
  cursor: pointer;
  color: rgb(33, 150, 243);
}

/* header-content */
.contact-icon {
  fill: rgb(117, 117, 117);
}

.content-item1 {
  font-weight: 500;
  line-height: 16px;
}

.content-item2 {
  color: rgb(33, 150, 243);
  font-weight: 500;
  line-height: 16px;
}

.content-item3 {
  color: rgb(33, 33, 33);
  font-weight: 500;
  line-height: 16px;
}

.content-item4 {
  color: rgb(33, 150, 243);
  font-weight: 500;
  line-height: 16px;
}

.content-item5 {
  color: rgb(117, 117, 117);
  font-weight: 500;
  line-height: 16px;
}

.contact--item {
  font-weight: 500;
  line-height: 16px;
  color: rgb(33, 150, 243);
}

.contact--item2 {
  font-weight: 500;
  line-height: 16px;
  color: rgb(117, 117, 117);
}

.header-nav__link {
  position: relative;
  padding-top: 15px;
  padding-bottom: 32px;
}

.header-nav__link::before {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.header-nav__link:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

/* heder-svg */
.contact--item::before {
  content: " ";
  width: 16px;
  height: 12px;
  fill: rgb(117, 117, 117);
  background-image: url(../img/sprite.svg#icon-mailHeader);
  background-repeat: no-repeat;
  background-position: center;
}

.contact-item2::before {
  content: " ";
  width: 10px;
  height: 16px;
  fill: rgb(117, 117, 117);
  background-image: url(../img/sprite.svg#icon-phoneHeader);
  background-repeat: no-repeat;
  background-position: center;
}

/* hero */
.hero__title {
  color: rgb(255, 255, 255);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  width: 696px;
  margin: 0 auto;
}

.hero {
  background: rgb(47, 48, 58);
  width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero__button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  background-color: rgb(33, 150, 243);
  width: 216px;
  height: 50px;
  border-radius: 4px;
}

.hero {
  margin-bottom: 94px;
  padding-top: 200px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 600px;
}

.hero-title {
  margin-bottom: 30px;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/workдз17.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/workдз17.jpg);
}

.hero--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* developmerts */
.developments--title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.developments--title:is(:hover, :focus) {
  -webkit-animation: heartBeat;
          animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s; /* don't forget to set a duration! */
}

.developments-item__wrapp {
  position: relative;
}

.developments-img__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(255, 255, 255);
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.developments {
  margin-bottom: 94px;
}

.developments--title {
  margin-bottom: 50px;
}

.developments-list__item:not(:last-child) {
  margin-right: 30px;
}

/* regular-customers */
.regular-customers__container {
  width: 1170px;
  height: 184px;
  margin: 0 auto;
  margin-bottom: 103px;
}

.regular-customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.regular-customers__item {
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 3px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__icon {
  width: 106px;
  height: 60px;
  fill: rgb(175, 177, 184);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 85px;
  padding-bottom: 50px;
}

.regular-customers__title:is(:hover, :focus) {
  -webkit-animation: heartBeat;
          animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s; /* don't forget to set a duration! */
}

.regular-customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.regular-customers__item:is(:hover, :focus) {
  border: 1px solid rgb(33, 150, 243);
}

.regular-customers__icon:is(:hover, :focus) {
  fill: rgb(33, 150, 243);
}

/* ourteam */
.ourteam-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.ourteam-title:is(:hover, :focus) {
  -webkit-animation: heartBeat;
          animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s; /* don't forget to set a duration! */
}

.ourteam {
  background-color: rgb(245, 244, 250);
  width: 1600px;
  height: 648px;
  margin: 0 auto;
}

.ourteam-title {
  margin-bottom: 50px;
}

.ourteam-title {
  padding-top: 94px;
}

.ourteam-list__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ourteam-list__item:not(:last-child) {
  margin-right: 30px;
}

/* subscribe */
/* .subscribe {
  width: 574px;
  height: 86px;

  margin-left: 627px;
  margin-top: -72px;
} */
.subscribe-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  margin-bottom: 20px;
  text-align: left;
  /* padding-left: 84px;
  padding-top: 12px; */
}

.subscribe-input {
  width: 358px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(48, 49, 59);
  margin-right: 12px;
  padding-left: 16px;
}

.subscribe-btn {
  position: relative;
  top: 1.5px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  padding-right: 67px;
  padding-left: 28px;
}

.subscribe-svg {
  position: absolute;
  left: 1163.5px;
  top: 48.5%;
  width: 24px;
  height: 24px;
  fill: rgb(255, 255, 255);
  left: 148px;
  top: 13px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 86px;
  left: 815px;
  top: 2748px;
}

.subscribe-position {
  position: relative;
}

/* footer */
.footer--contact1 {
  font-weight: 400;
  line-height: 24px;
  color: rgb(255, 255, 255);
}

.footer--contact2 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 24px;
}

.footer {
  background-color: rgb(47, 48, 58);
  width: 1600px;
  height: 252px;
  margin: 0 auto;
}

.footer--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-Web {
  color: rgb(33, 150, 243);
}

.footer-Studio {
  display: block;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

/* .footer {
  padding-top: 60px;
} */
.footer-Studio {
  margin-bottom: 20px;
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

/* join in */
.join-title {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 20px;
  /* padding-bottom: 20px;
  padding-top: 12px; */
}

.join__icon {
  fill: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.join__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  width: 44px;
  height: 44px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:is(:hover, :focus) {
  background-color: rgb(33, 150, 243);
  border-radius: 50px;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* modal css */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.backdrop .modal {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 15px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  position: relative;
  left: 475px;
  top: -7px;
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:is(:hover, :focus) {
  fill: rgb(33, 150, 243);
}

.modal-close-btn__svg {
  width: 13px;
  height: 13px;
}

.modal-name {
  position: relative;
  top: 2px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 3%;
  text-align: center;
  margin-bottom: 11px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

.modal-input {
  width: 448px;
  min-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42.5px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:is(:hover, :focus),
.modal-input:is(:hover, :focus) + .modal-svg {
  border-color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.modal-input__comment {
  height: 120px;
  padding-bottom: 90px;
  width: 448px;
  min-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input__comment:is(:hover, :focus) {
  border-color: rgb(33, 150, 243);
}

.modal-label__checkbox {
  margin: 0 auto;
  margin-bottom: 30px;
}

.modal-input__checkbox {
  background: rgb(33, 33, 33);
}

.modal-span:not(:last-child) {
  color: rgb(117, 117, 117);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1%;
  margin-bottom: 4px;
}

.modal-span:last-child {
  color: rgb(117, 117, 117);
  letter-spacing: 3%;
}

.modal-span__link {
  color: rgb(33, 150, 243);
  text-decoration: underline;
}

.modal-svg {
  position: absolute;
  left: 14px;
  top: 54%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 6%;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
}

/* portfolio */
.portfolio-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 31px;
}

.portfolio-list__title {
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}

.portfolio-list__text {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.portfolio-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.portfolio-title:is(:hover, :focus) {
  -webkit-animation: heartBeat;
          animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s; /* don't forget to set a duration! */
}

.portfolio {
  padding-top: 94px;
}

.portfolio-list__item:is(:hover, :focus) {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-list__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  height: 404px;
  border: 1px solid rgb(238, 238, 238);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  margin-bottom: 94px;
}

.before-item {
  border-radius: 4px;
}

.portfolio-list__title {
  padding-left: 24px;
}

.portfolio-list__text {
  padding-left: 24px;
}

/* portfolio-filter */
.portfolio-filter__button {
  background: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 26px;
}

.filter-button {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  padding: 6px 25px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:is(:hover, :focus) {
  cursor: pointer;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* portfolio-overlay */
.overlay {
  overflow: hidden;
  position: relative;
}

.overlay:hover .portfolio-overlay {
  top: 305px;
  -webkit-transform: translateY(-305px);
      -ms-transform: translateY(-305px);
          transform: translateY(-305px);
}

.portfolio-overlay {
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 3%;
  position: absolute;
  top: 306px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* main portfolio */
.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-list__item {
  width: 370px;
  height: 404px;
}

.portfolio-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

/* advantages */
.advantages-item__title {
  font-weight: 700;
  line-height: 16px;
}

.advantages-item__text {
  color: rgb(117, 117, 117);
  font-weight: 400;
  line-height: 24px;
}

.advantages {
  margin-bottom: 118px;
}

.advantages-item__title {
  margin-bottom: 10px;
}

.advantages-item__title {
  padding-top: 30px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

/* social-team */
.social-icon {
  fill: rgb(175, 177, 184);
  width: 20px;
  height: 20px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__item:is(:hover, :focus) .social-icon {
  fill: rgb(255, 255, 255);
}

.team-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.team-social__item {
  border-radius: 50px;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__item:is(:hover, :focus) {
  background-color: rgb(33, 150, 243);
  border-radius: 50px;
}

.team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

/* signature */
.signature-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.signature-text {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.signature {
  padding: 30px 0;
  background-color: rgb(255, 255, 255);
}

.signature-title {
  /* margin-top: 30px; */
  margin-bottom: 10px;
  display: inline-block;
}

.signature-text {
  margin-bottom: 30px;
}

.signature-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signature-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.before--item::before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--bg-advantages-color);
  background-image: url(../img/iconantenna\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.before--item2::before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--bg-advantages-color);
  background-image: url(../img/clock\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.before--item3::before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--bg-advantages-color);
  background-image: url(../img/diagram\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.before--item4::before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--bg-advantages-color);
  background-image: url(../img/astronaut\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=main.css.map */