:root {
  --blue-color: rgb(33, 150, 243);
  --blak-color: rgb(0, 0, 0);
  --grey-color: rgb(117, 117, 117);
  --white-color: rgb(255, 255, 255);
  --address-color: rgba(255, 255, 255, 0.6);
  --next-blak-color: rgb(33, 33, 33);
  --grey-regular-customers-color: rgb(175, 177, 184);
  --join-bgc: rgba(255, 255, 255, 0.1);
  --dark-blue: rgb(48, 49, 59);
  --portfolio-overlay-blue: rgba(33, 150, 243, 0.9);
  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
/* CONTEINER */
.container {
  width: 1200px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px dotted orangered;
}
/* BODY */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--blak-color);
  line-height: (24 / 16);
}

/* Header */
.header-Studio {
  color: var(--blak-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  height: 80px;
}
.header-Studio {
  margin-right: 93px;
}
.header-contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-Web {
  color: var(--blue-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.header-nav-link {
  color: var(--blak-color);

  transition: color var(--duration) var(--cubic);
}
.header-contact-link {
  padding: 15px 0;
  color: var(--grey-color);
  font-weight: 500;
}
.header-contact-item:is(:hover, :focus) .contact-icon {
  fill: var(--blue-color);
}
.contact-icon {
  fill: var(--grey-color);
  transition: fill var(--duration) var(--cubic);
}
.item {
  color: var(--blue-color);
}
.header-nav-item {
  font-weight: 500;
  line-height: (16 / 14);
}
.header-nav-item:is(:hover, :focus) {
  animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.header-nav-link:is(:hover, :focus) {
  cursor: pointer;
  color: var(--blue-color);
}
.header-contact-link {
  transition: color var(--duration) var(--cubic);
}
.header-contact-link:is(:hover, :focus) {
  cursor: pointer;
  color: var(--blue-color);
}
/* header-content */
.contact-icon {
  fill: var(--grey-color);
}
.content-item1 {
  font-weight: 500;
  line-height: 16px;
}
.content-item2 {
  color: var(--blue-color);
  font-weight: 500;
  line-height: 16px;
}
.content-item3 {
  color: var(--next-blak-color);
  font-weight: 500;
  line-height: 16px;
}
.content-item4 {
  color: var(--blue-color);
  font-weight: 500;
  line-height: 16px;
}
.content-item5 {
  color: var(--grey-color);
  font-weight: 500;
  line-height: 16px;
}
.contact-item {
  font-weight: 500;
  line-height: 16px;
  color: var(--blue-color);
}
.contact-item2 {
  font-weight: 500;
  line-height: 16px;
  color: var(--grey-color);
}
/* 27HW */
.header-nav-link {
  position: relative;
  padding-top: 15px;
  padding-bottom: 32px;
}
.header-nav-link::before {
  position: absolute;
  content: " ";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
  transform: scaleX(0);
  transition: transform 300ms linear;
}
.header-nav-link:hover::before {
  transform: scaleX(1);
}
.header-nav-link.current::after {
  position: absolute;
  content: " ";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
}
/* до сюда */

/* heder-svg */
.contact-item::before {
  content: " ";
  /* display: block; */

  width: 16px;
  height: 12px;

  fill: var(--grey-color);
  background-image: url(../img/sprite.svg#icon-mailHeader);
  background-repeat: no-repeat;
  background-position: center;
}
.contact-item2::before {
  content: " ";
  /* display: block; */

  width: 10px;
  height: 16px;

  fill: var(--grey-color);
  background-image: url(../img/sprite.svg#icon-phoneHeader);
  background-repeat: no-repeat;
  background-position: center;
}

/* hero */
.hero-title {
  color: var(--white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  width: 696px;
  margin: 0 auto;
}
.hero {
  background: rgb(47, 48, 58);
  width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.button-hero-title {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  background-color: rgb(33, 150, 243);
  width: 216px;
  height: 50px;
  border-radius: 4px;
}
.hero {
  margin-bottom: 94px;
  padding-top: 200px;
}
.hero {
  display: flex;
  align-items: center;
  text-align: center;
  height: 600px;
}
.hero-title {
  margin-bottom: 30px;
}
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/workдз17.jpg);
}
.hero-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* advantages */
.advantages-item-title {
  font-weight: 700;
  line-height: 16px;
}
.advantages-item-text {
  color: var(--grey-color);
  font-weight: 400;
  line-height: 24px;
}
.advantages {
  margin-bottom: 118px;
}
.advantages-item-title {
  margin-bottom: 10px;
}
.advantages-item-title {
  padding-top: 30px;
}

/* developmerts */
.developments-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}
.developments-title:is(:hover, :focus) {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2.5s; /* don't forget to set a duration! */
}
.developments-item-wrapp {
  position: relative;
}
.developments-img-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--white-color);
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.developments {
  margin-bottom: 94px;
}
.developments-title {
  margin-bottom: 50px;
}

/* ourteam */
.ourteam-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}
.ourteam-title:is(:hover, :focus) {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2.5s; /* don't forget to set a duration! */
} 
.ourteam {
  background-color: rgb(245, 244, 250);
  width: 1600px;
  height: 648px;
  margin: 0 auto;
}
.ourteam-title {
  margin-bottom: 50px;
}
.ourteam-title {
  padding-top: 94px;
}
.ourteam-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* social-team */
.social-icon {
  fill: var(--grey-regular-customers-color);
  width: 20px;
  height: 20px;

  transition: fill var(--duration) var(--cubic);
}
.team-social-item:is(:hover, :focus) .social-icon {
  fill: var(--white-color);
}
.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.team-social-item {
  border-radius: 50px;
  width: 44px;
  height: 44px;

  transition: background-color var(--duration) var(--cubic);
}
.team-social-item:is(:hover, :focus) {
  background-color: var(--blue-color);
  border-radius: 50px;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* regular-customers */
.regular-customers-container {
  width: 1170px;
  height: 184px;
  margin: 0 auto;
  margin-bottom: 103px;
}
.regular-customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.regular-customers-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--grey-regular-customers-color);
  border-radius: 3px;

  transition: border var(--duration) var(--cubic);
}
.regular-customers-icon {
  width: 106px;
  height: 60px;
  fill: var(--grey-regular-customers-color);

  transition: fill var(--duration) var(--cubic);
}
.regular-customers-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 85px;
  padding-bottom: 50px;
}
.regular-customers-title:is(:hover, :focus) {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2.5s; /* don't forget to set a duration! */
}
.regular-customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.regular-customers-item:is(:hover, :focus) {
  border: 1px solid var(--blue-color);
}
.regular-customers-icon:is(:hover, :focus) {
  fill: var(--blue-color);
}

/* signature */
.signature-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.signature-text {
  color: var(--grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.signature {
  padding: 30px 0;
  background-color: var(--white-color);
}
.signature-title {
  /* margin-top: 30px; */
  margin-bottom: 10px;
  display: inline-block;
}
.signature-text {
  margin-bottom: 30px;
}

/* footer */
.footer-contact1 {
  font-weight: 400;
  line-height: 24px;
  color: var(--white-color);
}
/* .footer-contact {
  padding-top: 20px;
  padding-right: 70px;
} */
.footer-contact2 {
  color: var(--address-color);
  font-weight: 400;
  line-height: 24px;
}
.footer {
  background-color: rgb(47, 48, 58);
  width: 1600px;
  height: 252px;
  margin: 0 auto;
}
.footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-Web {
  color: var(--blue-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.footer-Studio {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
/* .footer {
  padding-top: 60px;
} */
.footer-Studio {
  margin-bottom: 20px;
}
.footer-contact-link {
  color: var(--address-color);
}
.footer-flex {
  display: flex;
}
.flex-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* portfolio */
.portfolio-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 31px;
}
.portfolio-list-title {
  color: var(--next-blak-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}
.portfolio-list-text {
  color: var(--grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.portfolio-title {
  margin-top: 30px;
  margin-bottom: 30px;
}
.portfolio-title:is(:hover, :focus) {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2.5s; /* don't forget to set a duration! */
}
.portfolio {
  padding-top: 94px;
}
.portfolio-list-item:is(:hover, :focus) {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-list-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  height: 404px;
  border: 1px solid rgb(238, 238, 238);

  transition: box-shadow var(--duration) var(--cubic);
}
.portfolio {
  margin-bottom: 94px;
}
.before-item {
  border-radius: 4px;
}
.portfolio-list-title {
  padding-left: 24px;
}
.portfolio-list-text {
  padding-left: 24px;
}

/* portfolio-filter */
.portfolio-filter-button {
  background: rgb(33, 150, 243);
  color: var(--white-color);
  font-weight: 500;
  line-height: 26px;
}
.filter-button {
  color: var(--next-blak-color);
  
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;

  border: none;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;

  padding: 6px 25px;

    transition: background-color var(--duration) var(--cubic),
    border-radius var(--duration) var(--cubic),
    color var(--duration) var(--cubic),
    box-shadow var(--duration) var(--cubic);
}
.filter-button:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

}

/* portfolio-overlay */
.overlay {
  overflow: hidden;
  position: relative;
}
.overlay:hover .portfolio-overlay {
  top: 305px;
  transform: translateY(-305px);
}
.portfolio-overlay {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  text-align: left;

  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;

  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 3%;

  position: absolute;
  top: 306px;
  width: 100%;
  height: 100%;
  
  background-color: var(--portfolio-overlay-blue);

  transform: translateY(0);
  transition: transform 600ms var(--cubic);
}

/* join in */
.join-title {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 20px;
  /* padding-bottom: 20px;
  padding-top: 12px; */
}
.join-icon {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}
.join-list {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}
.join-item {
  background-color: var(--join-bgc);
  border-radius: 50px;
  width: 44px;
  height: 44px;
}
.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: background-color var(--duration) var(--cubic),
    border-radius var(--duration) var(--cubic),
    transform var(--duration) var(--cubic);
}
.join-link:is(:hover, :focus) {
  background-color: var(--blue-color);
  border-radius: 50px;
  transform: scale(1.2);
}

/* modal css */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.backdrop .modal {
  transform: translate(-50%, -50%) scale(1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 15px;
  transform: translate(-50%, -50%);
  border-radius: 4px; 
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
background: rgb(255, 255, 255);

transition: transform 400ms var(--cubic) ;
}
.btn {
  position: relative;
  left: 475px;
  top: -7px;

  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;

transition: fill var(--duration) var(--cubic);
}
.btn:is(:hover, :focus) {
  fill: var(--blue-color);
}
.modal-close-btn-svg {
  width: 13px;
  height: 13px;
}

.modal-name {
  position: relative;
  top: 2px;

font-size: 20px;
font-weight: 700;
line-height: calc(23 / 20);
letter-spacing: 3%;

text-align: center;

margin-bottom: 11px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

.modal-input {
  width: 448px;
  min-height: 40px;

  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; 

  padding-left: 42.5px;

  transition: fill var(--duration) var(--cubic), border-color var(--duration) var(--cubic);
}

.modal-input:is(:hover, :focus),
.modal-input:is(:hover, :focus) + .modal-svg {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}

.modal-input-comment {
  height: 120px;
  padding-bottom: 90px;
    width: 448px;
  min-height: 40px;

  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; 
  padding-left: 16px;
  padding-top: 12px;

  margin-bottom: 20px;

  transition: border-color var(--duration) var(--cubic);
}
.modal-input-comment:is(:hover, :focus) {
  border-color: var(--blue-color);
}

.modal-label-checkbox {
  margin: 0 auto;
  margin-bottom: 30px;
}

.modal-input-checkbox {
  background: var(--next-blak-color);
}

.modal-span:not(:last-child) {
  color: var(--grey-color);

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1%;

  margin-bottom: 4px;
}

.modal-span:last-child {
  color: var(--grey-color);
  letter-spacing: 3%;
}

.modal-span-link {
  color: var(--blue-color);
  text-decoration: underline;
}

.modal-svg {
  position: absolute;
  left: 14px;
  top: 54%;

  transition: fill var(--duration) var(--cubic), border-color var(--duration) var(--cubic);
}

.modal-btn {
  margin: 0 auto;

  color: var(--white-color);

  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 6%;

  width: 200px;
  height: 50px;

  border-radius: 4px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--blue-color);
}

/* subscribe */
/* .subscribe {
  width: 574px;
  height: 86px;

  margin-left: 627px;
  margin-top: -72px;
} */
.subscribe-title {
  color: var(--white-color);

  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;

  margin-bottom: 20px;
  text-align: left;
  /* padding-left: 84px;
  padding-top: 12px; */
}
.subscribe-input {
  width: 358px;
  height: 50px;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--dark-blue);

  margin-right: 12px;

  padding-left: 16px;
}
.subscribe-btn {
  position: relative;
  top: 1.5px;

  width: 200px;
  height: 50px;

  border-radius: 4px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);

  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  padding-right: 67px;
  padding-left: 28px;
}
.subscribe-svg {
  position: absolute;
  left: 1163.5px;
  top: 48.5%;

  width: 24px;
  height: 24px;

  fill: var(--white-color);
  left: 148px; 
  top: 13px;
}
.subscribe-form {
  display: flex;
  width: 570px;
  height: 86px;
  left: 815px;
  top: 2748px;
}
.subscribe-position {
  position: relative;
}