/* advantages */
.advantages-item__title {
  font-weight: 700;
  line-height: 16px;
}
.advantages-item__text {
  color: $grey-color;
  font-weight: 400;
  line-height: 24px;
}
.advantages {
  margin-bottom: 118px;
}
.advantages-item__title {
  margin-bottom: 10px;
}
.advantages-item__title {
  padding-top: 30px;
}
.advantages__list {
    display: flex;
    justify-content: center;
}
.advantages__item:not(:last-child) {
    margin-right: 30px;
}