/* Header */
.header__Studio {
  color: $blak-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  height: 80px;
}
.header__Studio {
  margin-right: 93px;
}
.header-contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header {
    display: flex;
}
.header-nav__list {
    display: flex;
    justify-content: center;
}
.parent--flex {
    display: flex;
    align-items: center;
}

.header-nav > .header-list {
    display: flex;
}
.header-contact {
    display: flex;
    margin-left: auto;
} 
.header-nav__item:not(:last-child) {
    margin-right: 50px;
}

.header-contact-item:not(:last-child) {
    margin-right: 50px;
}
.header--Web {
  color: $blue-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.header-nav__link {
  color: $blak-color;

  transition: color $duration $cubic;
}
.header-contact-link {
  padding: 15px 0;
  color: $grey-color;
  font-weight: 500;
}
.header-contact-item:is(:hover, :focus) .contact-icon {
  fill: $blue-color;
}
.contact-icon {
  fill: $grey-color;
  transition: fill $duration $cubic;
}
.item {
  color: $blue-color;
}
.header-nav__item {
  font-weight: 500;
  line-height: (16 / 14);
}
.header-nav__item:is(:hover, :focus) {
  animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.header-nav__link:is(:hover, :focus) {
  cursor: pointer;
  color: $blue-color;
}
.header-contact-link {
  transition: color $duration $cubic;
}
.header-contact-link:is(:hover, :focus) {
  cursor: pointer;
  color: $blue-color;
}
/* header-content */
.contact-icon {
  fill: $grey-color;
}
.content-item1 {
  font-weight: 500;
  line-height: 16px;
}
.content-item2 {
  color: $blue-color;
  font-weight: 500;
  line-height: 16px;
}
.content-item3 {
  color: $next-blak-color;
  font-weight: 500;
  line-height: 16px;
}
.content-item4 {
  color: $blue-color;
  font-weight: 500;
  line-height: 16px;
}
.content-item5 {
  color: $grey-color;
  font-weight: 500;
  line-height: 16px;
}
.contact-item {
  font-weight: 500;
  line-height: 16px;
  color: $blue-color;
}
.contact-item2 {
  font-weight: 500;
  line-height: 16px;
  color: $grey-color;
}
/* 27HW */
.header-navlink {
  position: relative;
  padding-top: 15px;
  padding-bottom: 32px;
}
.header-navlink::before {
  position: absolute;
  content: " ";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $blue-color;
  transform: scaleX(0);
  transition: transform 300ms linear;
}
.header-navlink:hover::before {
  transform: scaleX(1);
}
.header-navlink.current::after {
  position: absolute;
  content: " ";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $blue-color;
}
/* до сюда */

/* heder-svg */
.contact-item::before {
  content: " ";
  /* display: block; */

  width: 16px;
  height: 12px;

  fill: $grey-color;
  background-image: url(../img/sprite.svg#icon-mailHeader);
  background-repeat: no-repeat;
  background-position: center;
}
.contact-item2::before {
  content: " ";
  /* display: block; */

  width: 10px;
  height: 16px;

  fill: $grey-color;
  background-image: url(../img/sprite.svg#icon-phoneHeader);
  background-repeat: no-repeat;
  background-position: center;
}
