%pseudoUnderlineNav {
    position: absolute;
    content: " ";
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $blue-color;
}
%webstudioText {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
%delepomersFlex {
    display: flex;
    justify-content: center;
}