@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:wght@400;500;700;900&display=swap');

$blue-color: rgb(33, 150, 243);
$blak-color: rgb(0, 0, 0);
$grey-color: rgb(117, 117, 117);
$white-color: rgb(255, 255, 255);
$address-color: rgba(255, 255, 255, 0.6);
$next-blak-color: rgb(33, 33, 33);
$grey-regular-customers-color: rgb(175, 177, 184);
$join-bgc: rgba(255, 255, 255, 0.1);
$dark-blue: rgb(48, 49, 59);
$portfolio-overlay-blue: rgba(33, 150, 243, 0.9);
$duration: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$bg-advantages-color: #F5F4FA;

